<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <defaultDocument>
      <files>
        <remove value="index.html" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        
        <rule name="DynamicContent" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <!-- Pass through requests to files that actually exist (if any) -->
            <!-- But we want all routes to go to server.js except maybe real static files like images in root -->
            <!-- Actually, let server.js handle EVERYTHING so it can serve from dist/ -->
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
